.filter__wrapper{
    h3{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .filter__inner{
        display: flex;
        justify-content: center;
    
        .filter-property{
            margin: 0 20px;
            text-align: center;

            select{
                height: 60%;


                option{
                    width: 60%;
                    height: 50%;
                }
            }

            input{
                height: 60%;
            }
        }
    }


}

