.pagination{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    padding: 0 15px;
    justify-content: center;

    &__left, &__right{
        width: 20%;
    }

    li{
        margin: 0 5px;
    }

    a, span {
        display: block;
        text-align: center;
        font-weight: 300;
        height: 44px;
        color: #999;
        font-size: 13px;
        padding: 10px;
        min-width:44px;
        min-height:44px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid rgb(129, 128, 128);
        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35);

        &:hover{
            border-color: #005bff;
            color: #005bff;
        }
    }

    .btn-paginate{
        padding: 10px 15px;
    }

    .disabled{
        opacity: 0;
    }
}


        @media screen and (max-width: 768px) {

        }



        @media screen and (max-width: 425px) {

            .pagination{
                margin: 100px 0 60px;
                flex-direction: column;

                li{
                    padding: 5px 0;
                }

            }

        }
        
        @media screen and (max-width: 320px) {
            .pagination{
                margin: 100px 0 60px;
                flex-direction: column;

                li{
                    padding: 5px 0;
                }

            }
            
        }